[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_installation_dir }}/nexus-{{ nexus_version }}/bin/nexus start
ExecStop={{ nexus_installation_dir }}/nexus-{{ nexus_version }}/bin/nexus stop
User={{ nexus_os_user }}
Group={{ nexus_os_group }}
Restart=on-abort

[Install]
WantedBy=multi-user.target