-Xms{{ nexus_min_memory }}
-Xmx{{ nexus_max_memory }}
-XX:MaxDirectMemorySize={{ nexus_dir_mem_size }}
-XX:+UnlockDiagnosticVMOptions
-XX:+UnsyncloadClass
-XX:+LogVMOutput
-XX:LogFile={{ nexus_shared_dir }}/log/jvm.log
-XX:-OmitStackTraceInFastThrow
-Djava.net.preferIPv4Stack=true
-Dkaraf.home=.
-Dkaraf.base=.
-Dkaraf.etc=etc/karaf
-Djava.util.logging.config.file=etc/karaf/java.util.logging.properties
-Dkaraf.data={{ nexus_shared_dir }}
-Djava.io.tmpdir={{ nexus_shared_dir }}/tmp
-Dkaraf.startLocalConsole=false